body {
  background-color: #91c0c3b3;
}
.container {
  background-color: white;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
}
input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}

input[type=password],select{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  width: 30%;
  background-color: #f71d256c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: #090e09;
}
.header{
  
  background-color: rgb(7,2,71);
  padding:1px 20px;
  color: rgb(255, 255, 255);
}

.ui-define{
background-color: rgb(31, 187, 174);
margin-left: 25%;
width: 50%;
padding: 20px 30px;
margin-top: 5%;
}